body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.container-header {
    margin: 0 auto;
    max-width: 1140px;
}

.main-header {
    background-color: #004ea5;;
    height: 110px;
    width: 100%;
}

.main-header .container-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.main-title {
    height: 72px;
    width: 190px;
}

.main-title a {
    color: #ffffff;
    text-decoration: none;
}

.main-header-nav {
    display: flex;
    justify-content: space-between;
}

.main-header-nav-link + 
.main-header-nav-link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    margin-left: 34px;

}