<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Viga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/main-matter.css">
    <title>Chronos - Início</title>
</head>
<body>
    <header class="main-header">
        <div class="nav-icons">
            <input type="checkbox" name="english">
            <label >IN</label>

            <input type="checkbox" name="portugues">
            <label >PT</label>

            <a href="https://www.instagram.com/">
                <img src="/public/assets/icons/instagram.svg" alt=""> 
            </a>

            <a href="https://br.linkedin.com/">
                <img src="/public/assets/icons/linkedin.svg" alt=""> 
            </a>
        </div>
        
        <div class="container-header">
            <h1 class="main-title">
                <img src="/public/assets/icons/logo.png" alt="Logo">
            </h1>
            <nav class="main-header-nav">
                <a class="main-header-nav-link ativo" href="#">INÍCIO</a>
                <a class="main-header-nav-link" href="#">SOBRE NÓS</a>
                <a class="main-header-nav-link" href="#">SERVIÇOS E SOLUÇÕES</a>
                <a class="main-header-nav-link" href="#">ÁREA TERAPÉUTICA</a>
                <a class="main-header-nav-link" href="#">NOTÍCIAS</a>
                <a class="main-header-nav-link" href="#">CONTATO</a>
                <a class="main-header-nav-link" href="#">BUSCA 
                    <img src="/public/assets/icons/lupa.svg" alt="lupa">
                </a>
            </nav>
        </div>
    </header>

    <div class="page-home"> 
        <h2>Presente em 
        todas as fases</h2>
        <p>Soluções rápidas e precisas, utilizando ferramentas
         modernas de gestão e expertise da equipe.</p>

        <button>Conheça Mais</button>
    </div>
 
</body>

</html>