body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #ffffff;
    width: 178px;
    height: 54px;
    margin: 32px 178px;
    font-family: 'Viga', sans-serif;
    font-size: 48px;
    line-height: 1.13;
}

span {
    color: #ffffff;
    width: 252px;
    height: 18px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 32pc 178px;
}

footer {
    background-color: #004ea5;
    height: 110px;
    width: 100%;
}

/*Header and Nav Icons*/

.container-header {
    margin: 0 auto;
    max-width: 1140px;
}

.main-header {
    background-color: #004ea5;
    flex-direction: column;
    height: 110px;
    width: 100%;
}

.main-header .container-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.main-title {
    height: 72px;
    width: 190px;
}

.main-title a {
    color: #ffffff;
    text-decoration: none;
}

.main-header-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.main-header-nav-link + 
.main-header-nav-link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    margin-left: 34px;
}

.main-header-nav-link:first-child {
    color: #ffffff;
    text-decoration: none;
}

.main-header-nav-link:hover, .main-header-nav-link.ativo {
    border-bottom: 2px solid #ffffff;
}

.main-header-nav-link img {
    display: flex;
    justify-content: space-between;
}

.nav-icons {
    align-items: center;
    display: flex;
    
    
    
}

/*End Header and Nav Icons*/




/*Footer*/

.baseboard-links .baseboard-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.baseboard-container {
    display: flex;
    margin-top: 65px;
}

.baseboard-nav-link + 
.baseboard-nav-link {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-left: 34px;
}

.baseboard-nav-link:hover {
    border-bottom: 1px solid #ffffff;
}

.baseboard-nav-link:first-child {
    color: #ffffff;
    text-decoration: none;
    margin-top: 64px;
}

/*End Footer*/